/*Mobile*/
@media (max-width: 46.1875em) {
    #content .s-col-full{
        width: 100%;
    }
    
    #content .s-mt-8{
        margin-top: 8px;
    }

    #content .s-full-width{
        width: 100%;
    }

    #header{
        overflow: hidden;
    }

    #header .search-btn{
        display: none;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #nav{
        display: block;
    }

    #nav > li{
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
    }

    #nav .subnav a{
        padding: 5px 36px;
        color: #fff;
    }

    #content .member-img{
        width: 60%;
    }

    .place-list{
        margin-top: 16px;
    }

    .btn{
        padding: 15px 16px;
    }

    .contact-infor{
        line-height: 2;
    }

    .contact-form{
        margin-top: 32px;
    }

    #footer .social{
        font-size: 36px;
    }

    #footer .social a{
        margin: 0 8px;
    }
}

/*Tablet*/
@media (min-width: 46.25em) and (max-width: 63.9375em){
    #nav .subnav a{
        padding: 5px 12px;
    }

    .btn{
        padding: 15px 16px;
    }
    
    .contact-infor{
        line-height: 2;
    }

    .contact-form .form-control{
        padding: 15px;
    }

    #footer .social{
        font-size: 48px;
    }

    #footer .social a{
        margin: 0 8px;
    }
}
